@import url(http://www.markmurray.co/codepen/entypostyle.css);

$facebook:   #3b5998;
$twitter:    #00a0d1;
$gplus:      #db4a39;
$pinterest:  #c8232c;
$dribbble:   #ea4c89;
$navy: #34495e;
$ion-android-home:#xf38f;

@mixin gradient($color){
   @include background-image(linear-gradient(top, $color, darken($color, 10%))); 
}

html {
  background: #8B7765;
  background: #8B7765 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8B7765), color-stop(100%, #8B7765)) fixed;
  background: #8B7765 -webkit-linear-gradient(#8B7765, #8B7765) fixed;
  background: #8B7765 -moz-linear-gradient(#8B7765, #8B7765) fixed;
  background: #8B7765 -o-linear-gradient(#8B7765, #8B7765) fixed;
  background: #8B7765 -ms-linear-gradient(#8B7765, #8B7765) fixed;
  background: #8B7765 linear-gradient(#8B7765, #8B7765) fixed;
}

body {
  padding: 70px 50px;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
  background: #DEDEDE;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  padding:5px 10px 10px;
}

header {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #C6EAFA;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddfbfc), color-stop(100%, #c6eafa));
  background: -webkit-linear-gradient(#ddfbfc, #c6eafa);
  background: -moz-linear-gradient(#ddfbfc, #c6eafa);
  background: -o-linear-gradient(#ddfbfc, #c6eafa);
  background: -ms-linear-gradient(#ddfbfc, #c6eafa);
  background: linear-gradient(#ddfbfc, #c6eafa);
  position: relative;
  padding: 7px 10px;
  border-bottom: 1px solid #B2D2E1;
}
header.without-description h1 {
  margin: 5px 0;
  }


.container {
  width: 25em;
  margin: 0 auto 3em auto;
  text-align: center;
  overflow: hidden;
  font-size: fixed;
}
.container p {
font-size: 10px;
color: white;
}

.row {
  margin: 0.5em 0;
  float: center;
  clear: both;
}
.row i {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.row:nth-child(1) {
  background: transparent;
  margin-top: 2em !important;
}
.row:nth-child(1) i {
  color: #34495e;
  border: 2px solid;
  border-radius: 50%;
  padding: 0.5em;
  position: relative;
  background: transparent;
}
.row:nth-child(1) i:hover {
  top: -2px;
  border-radius: 50%;
  color: white !important;
}
.row:nth-child(1) i:not(:first-child) {
  margin-left: 1em;
}
.row:nth-child(1) i:nth-child(1) {
  color: #3b5998;
  border-color: #3b5998;
}
.row:nth-child(1) i:nth-child(2) {
  color: #00a0d1;
  border-color: #00a0d1;
}
.row:nth-child(1) i:nth-child(3) {
  color: #db4a39;
  border-color: #db4a39;
}
.row:nth-child(1) i:nth-child(4) {
  color: #c8232c;
  border-color: #c8232c;
}
.row:nth-child(1) i:nth-child(5) {
  color: #ea4c89;
  border-color: #ea4c89;
}
.row:nth-child(1) i:nth-child(1):hover {
  background: #3b5998;
}
.row:nth-child(1) i:nth-child(2):hover {
  background: #00a0d1;
}
.row:nth-child(1) i:nth-child(3):hover {
  background: #db4a39;
}
.row:nth-child(1) i:nth-child(4):hover {
  background: #c8232c;
}
.row:nth-child(1) i:nth-child(5):hover {
  background: #ea4c89;
  }
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
    width: 300px;
   height: 200px;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(219,127,8, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}



