html {
  background: #6C7989;
  background: #6c7989 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7989), color-stop(100%, #434b55)) fixed;
  background: #6c7989 -webkit-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -moz-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -o-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -ms-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}

body {
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
}

.wrapper {
  width: 990px;
  margin: 0 auto;
  background: #DEDEDE;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}
header {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #C6EAFA;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddfbfc), color-stop(100%, #c6eafa));
  background: -webkit-linear-gradient(#ddfbfc, #c6eafa);
  background: -moz-linear-gradient(#ddfbfc, #c6eafa);
  background: -o-linear-gradient(#ddfbfc, #c6eafa);
  background: -ms-linear-gradient(#ddfbfc, #c6eafa);
  background: linear-gradient(#ddfbfc, #c6eafa);
  position: relative;
  padding: 7px 10px;
  border-bottom: 1px solid #B2D2E1;
}
header.without-description h1 {
  margin: 5px 0;


