html {
  background: #6C7989;
  background: #6c7989 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7989), color-stop(100%, #434b55)) fixed;
  background: #6c7989 -webkit-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -moz-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -o-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -ms-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}

body {
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
}

table {
border: 1px solid blue ;
background-color: grey
}


#menu ul {  
list-style-type: none;  
}  
#menu ul li {  
display: inline;  
margin: 0;  
}  
#menu ul li a {   
padding: 15px;  
background-color: #44699C;  
font-family: Verdana;  
color: white;  
} 
#menu ul li a:hover {  
background-color: #5F94DC;  
}  

a {
    text-decoration: none;
}

#ddmenu div.dropdown {
    background-color:rgba(0,0,0,0.2);
    background-color:#ccc \9;/*fallback for old IE*/
}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 15px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 20px 80px;
	width: 60px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 80px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial}

	#sddm div a:hover
	{	background: #49A3FF;
		color: #FFF}